<a href="https://colab.research.google.com/github/FORTUNATE1999/BSG_gis/blob/main/Take_home_test_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Simple variable asignment:
x = 5
y = 10.56
print(x)
print(y)
type(x),type(y)

5
10.56

(int, float)

In [5]:
# print statement:
print("Hello world!")

Hello world!

In [7]:
# variable concentration
str1 = ("Niwagaba")
str2 = ("Arere")
str3 = ("Fortunate")
print(str1 + str2 + str3)

NiwagabaArereFortunate

In [8]:
# Numeric operations:
a = 40
b = 160
print(a+b)
print(b/a)

200
4.0

In [9]:
# string repetion:
str = ("Niwagaba")
print(str*5)

NiwagabaNiwagabaNiwagabaNiwagabaNiwagaba

In [11]:
# variable swap:
a = 45
b = 34
print(a)
print(b)

temp = a
a = b
b = temp
print(a)
print(b)

45
34
34
45

In [13]:
# string length:
str = ("Fortunate")
len(str)

9

In [ ]:
# type conversion:
x = 67
str = ("Fortunate")